@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #1a202c;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
main {
  padding: 1.5rem 0;
}

main {
  min-height: 90vh;
  padding-bottom: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
}

header > div {
  display: flex;
  justify-content: space-between;
}

header ul {
  flex: 1;
}

header h1 {
  flex: 2;
  color: #ff6600;
}

header ul li a {
  display: block;
  border-radius: 4px;
  padding: 8px 16px;
  transition: 380ms ease;
  transition-property: background, color;
}

header ul li a:hover {
  color: #121723;
  background: #eef0f4;
}

main ul li {
  margin-bottom: 1.5rem;
  border-radius: 4px;
  padding: 0.75rem 0;
  border-bottom: 1px solid #eef0f4;
  width: 100%;
  transition: box-shadow 380ms ease;
}

main ul li a {
  font-size: 20px;
  /* color: #1a202c; */
  color: #2d3748;
}
main ul li a:hover {
  color: black;
}
main ul li p {
  padding-top: 4px;
  display: flex;
  align-items: center;
}

main ul li span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}
main ul li span#time {
  margin-right: 1rem;
}
main ul li span#points {
  border-radius: 2px;
  padding: 3px 8px;
}

@media (max-width: 986px) {
  main ul li a {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  header > div {
    flex-direction: column;
    align-items: center;
  }
  header {
    padding: 0.25rem 0;
  }
  header h1 {
    margin-bottom: 1rem;
  }
  main ul li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main ul li a {
    font-size: 17px;
  }
}
